<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <style>
        a{
            display: block;
            font-size: 16px;
        }
        .tag {
            color: #EE1955;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <% for(var i = 0; i < files.length; i++) {%>
    <a href="<%= path %>/<%= files[i].file %>"><span class="tag">【<%= files[i].icon %>】</span><%= files[i].file %></a>
    <% } %>
</body>
</html>